.formdiv {
    border: solid black;
    margin-left: 400px;
    margin-right: 500px;
    /* text-align: center; */
    padding: 20px;
}

.usertable {
    margin-left: 350px;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 60%;
}

th {
    font-size: 16px;
    background: dodgerblue;
    color: #fff;
    padding: 10px;
}

td {
    padding: 5px;
}

#submit,
#clear {
    cursor: pointer;
    border-radius: 7px;
    border: none;
    padding: 15px 30px;
    background: dodgerblue;
    color: #fff;
}

#btnEdit {
    padding: 6px;
    background: rgb(250, 250, 250);
    color: dodgerblue;
    width: 60px;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 5px;
    cursor: pointer;
}

#btnDelete {
    padding: 6px;
    background: rgb(250, 250, 250);
    color: rgb(207, 27, 27);
    width: 60px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

* {
    font-style: italic;

}

body {
    padding: 20px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.mb-4 {
    color: dodgerblue
}